---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'


import ProfilePictures from '@/assets/profile_pictures.jpg'
import ProfilePic2 from '@/assets/profile_pic2.jpg'
import PixelProfilePic from '@/assets/pixel-portrait.png'

import Hero from '@/components/ui/Hero.astro'


const { fullName, blogName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			blogName={blogName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
			profilePicture2={ProfilePic2}
			pixelProfilePic={PixelProfilePic}
		/>
	</section>

	<section class='py-12 border-t'>
		<div class="mb-12 text-xs">
			<i>
			<h2 class='font-bold mb-2'>About ConsciencAI's Web Design</h2>
			
			<p> Wanted to add a "merci" to the wonderful tools underlying this webpage. ❤️</p>
			<p> The website is built and maintained using the <a	href='https://astro.build/'
				class="font-bold"
						target='_blank'>Astro </a>  framework.
			</p>
			<p>
				The design was adapted from  <a	href='http://maiobarbero.dev'
				class="font-bold"
						target='_blank'>Matteo Barbero</a>'s work on the <a
					href='https://github.com/maiobarbero/astro_academia'
					class='font-bold'
					target='_blank'>Astro Academia 🎓</a
				> template.
			</p>
		</i>
		</div>
	</section>
</Layout>
